@import "./mixins.module";
@import "./colors.module";

.section {
    position: relative;

    h2 {
        font-size: 54px;
        font-weight: 600;
        color: #000906;
    }

    h3 {
        font-size: 28px;
        font-weight: 600;
        margin-top: 24px;
        margin-bottom: 4px;
    }

    p {
        color: #180F02;
        font-size: 18px;

    }
}
