@import "./mixins.module";
@import "./colors.module";


.section {
    position: relative;
    padding-top: 50px;
    h2 {
        font-size: 50px;
        font-weight: 600;
        color: #000906;

        @include phone {
            font-size: 36px;
        }
    }

    h3 {
        font-size: 28px;
        font-weight: 600;
        margin-top: 24px;
        margin-bottom: 4px;
    }

    p {
        color: #180F02;
        font-size: 21px;
        margin-top: 24px;
        margin-bottom: 4px;
    }
}
