@import './colors.module.scss';
@import './mixins.module.scss';

.section {

    h2 {
        font-size: 80px;
        font-weight: 600;

        @include phone {
            font-size: 60px;
        }
    }

    p {
        font-size: 28px;
    }
}

.button {
    background-color: #B55082;
    color: #fff;
    padding: 8px 16px 11px 16px;
    border-radius: 18px;
    font-size: 28px;
    text-decoration: none;
    transition: background-color .3s;
    font-weight: 600;

    &:hover {
        color: #fff;
        background-color: $color-purple;
    }
}


.squiggle {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 500px;
    img {
        width: 100%;
    }

    @include phone {
        // max-width: 250px;
        display: none;
    }
}