@import "./colors.module";
@import "./mixins.module";


.header {
    width: 100%;
    z-index: 100;
    transition: background-color .4s;
    height: 83px;
    @include fontTop;



    @include phone {
        display: none;
    }

    &__opaque {
        background-color: $color-purple;
        // background-image: url(/images/top-bg.jpg);
        // background-size: cover;
    }
}

.headerContainer{
    padding-left: 20px;
    padding-top: 5px;
}

.link {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;




    &:hover {
        text-decoration: underline;
        color: #fff;
    }

    &__small {
        font-size: 12px;
    }

    &__light {
        font-weight: normal;
    }
}

.button {
    background-color: #8060f2;
    @include fontTop;
    font-weight: 600;
    text-decoration: none;
    color:#fff;
    height: 40px;
    border-radius: 27px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;

    &:hover{
        color: #fff;
    }
}
