


@mixin phone {
    @media screen and (max-width: 1200px) {
        @content;
    }
}


  
@mixin fontDefault() {
    font-family: 'Aeonik', sans-serif;
  }

  
  @mixin fontTop() {
    font-family: 'Poppins', sans-serif;

  }

  @mixin fontAlt() {
    font-family: 'OldschoolGrotesk', sans-serif;

  }