@import "./colors.module.scss";
@import "./mixins.module.scss";

.section {
    position: relative;
    overflow: hidden;

}

.videoContainer{
    aspect-ratio: 16/9;
    position: relative;
    
}

.player {
    width: 100%;
    aspect-ratio: 16/9;
}


.thumbnail {
    width: 100%;
    aspect-ratio: 16/9;

    img {
        width: 100%;
    }
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 26, 104, .9);
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;

    transition: background-color .4s;
    cursor: pointer;

    &:hover {
    background-color: rgba(46, 26, 104, .8);

    }
    h2 {
        font-size: 33px;
        font-weight: 600;
        @include phone {
            font-size: 40px;
        }
    }

    p{
        padding: 20px 0;
        max-width: 400px;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;


        @include phone {
            font-size: 16px;
            line-height: 18px;
            padding: 4px 0;
        }
    }
   


}


.playButton {
    text-align: center;
    @include phone {
        width: 32px;
        height: 32px;
    }
}