@import "./mixins.module";
@import "./colors.module";

.section {
  display: flex;
  align-items: center;
  justify-content: center;
    position: relative;
    color: #fff;
    background-image: url(/images/hero-bg.jpg);
    background-size: cover;
    background-position: right top;
    min-height: 700px;
 

    // @include phone {
    //   padding-top: 12px;
    //   background-image: url(/images/top-bg-mobile.jpg);
    //   background-position: 50% top;
    // }

    h1 {
      font-size: 62px;
      line-height: 1.04;
      font-weight: 600;
      color: $color-purple;
    }

 

   
  }

  .balloon {
    height: 600px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/images/balloon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
  }

  .exploreWebLink {
    color: #000;
    font-size: 23px;
    font-weight: 600;
    position: relative;
    top: -4px;
  }


  .mobileLogo {
    display: none;
    
    @include phone {
      display: flex;

      justify-content: center;
      > div {
        max-width: 300px;
        width: 100%;
      }


      // display: block;
    }
  }
 

